<!DOCTYPE html>
<html>
<head>
    <title>Pantalla Totem</title>
    <script src="../static/js/socket.io.min.js"></script>
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script>
        const socket = io('http://127.0.0.1:5000');
        
        $(document).ready(function() {
            console.log('ready')
            $('.screen').hide()
            $('#idle').show()
            $('.gameName').html(`{{ gameName }}`)
            $('.gameUnit').html(`{{ gameUnit }}`)
            $('.playingTitle').html(`{{ playingTitle }}`)
        });

        socket.on('changeScreen', function(data) {
            console.log('changeScreen',data.screenId)
            $('.screen').hide()
            $('#' + data.screenId).show()
        });

        socket.on('updateParam', function(data) {
            console.log('updateParam',data.paramValue)
            $('.' + data.paramClass).html(data.paramValue)
        })

    </script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body style="width: 1024px; height: 600px;">
    {{screensContent | safe}}
</body>
</html>